.contLogin{
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Opcional: Centra la imagen */
    background-size: cover; /* Opcional: Ajusta el tamaño de la imagen */
    width: 100%;
    height: 620px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contLogin form{
    box-shadow: 0 4px 8px rgba(4, 229, 236, 0.897);
    
    margin-bottom: 250px;
    border: 1px solid #3fb8ae;
    border-radius: 10px;
    background-color: #f9f9f9;
    padding: 25px;
    width: 400px;
}

.contLogin label{
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.contLogin button{
    display: block;
    width: 40%;
    padding: 10px;
    background-color: #2d9789;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.contLogin button:hover {
    background-color: #5a9089;
}


.contLogin input{
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    width: 250px;
    height: 25px;
}
.contLogin h1 {
    color: #f9f9f9;
    margin-top: 40px;
    font-size: 36px; /* Aumenta el tamaño de la fuente */
    font-weight: bold; /* Hace que el texto sea más grueso */
    text-shadow: 2px 2px 4px rgba(228, 90, 113, 0.897); /* Añade una sombra al texto para mayor contraste */
    text-align: center; /* Centra el texto */
    letter-spacing: 2px; /* Aumenta el espacio entre letras para un efecto más elegante */
}
