# Node dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage
/jest/

# Production
/build
/.next/
.next/
out/

# Environment variables
.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/logs
*.log

# Miscellaneous
.DS_Store
Thumbs.db
.idea/
.vscode/
*.sublime-workspace

# Binaries
*.exe
*.dll
*.so
*.dylib
*.exe
*.app

# Build artifacts
/dist
/tmp
.cache

# Others
*.log
